:host {
  display: flex;
  margin-bottom: 2rem;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  grid-auto-flow: row dense;
  grid-gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
}
